Version 1.0

[MTR]
MotorNoiseDataType = 4
MotorVolumeMultiply = 5
DoorCloseSoundLength = 1

[Pilot Lamp]
On = Sounds/relay.wav
Off = Sounds/relay.wav

[Reverser]
On = revfw.wav
Off = revn.wav

[Compressor]
Release = Sounds/CpEnd.wav
Loop = Sounds/CpLoop.wav
Attack = Sounds/CpStart.wav

[Brake]
BC Release High = Sounds/Airhigh.wav
BC Release = Sounds/Air.wav
BC Release Full = Sounds/AirZero.wav
Emergency = Sounds/EmrBrake.wav
[Motor]
0 = Motor0.WAV
1 = Motor1.WAV
2 = Motor2.WAV
3 = Motor3.WAV
4 = Motor4.WAV
5 = Motor5.WAV
6 = Motor6.WAV
7 = Motor7.WAV
8 = Motor8.WAV
10 = Motor10.WAV
[Door]
Open Left = Sounds/DoorOpn.wav
Open Right = Sounds/DoorOpn.wav
Close Left = Sounds/DoorCls.wav
Close Right = Sounds/DoorCls.wav

[Switch]
0 = Sounds/Point.wav

[Buzzer]
Correct = Sounds/Adjust.wav

[Horn]
Primary = Sounds/HornStart.wav
PrimaryRelease = Sounds/HornEnd.wav
secondary= sounds/klaxon2.wav
music= sounds/looploud.wav
;MusicStart = Sounds/looploudstart.wav
;MusicLoop = Sounds/looploudmiddle.wav
;MusicEnd = Sounds/looploudend.wav
[Run]
0 = Sounds/Run0.wav
1 = Sounds/Run10.wav
2 = Sounds/Run10.wav
3 = Sounds/Run3.wav
4 = Sounds/Run4.wav
5 = Sounds/Run0.wav
6 = Sounds/Run10.wav
7 = Sounds/Run1.wav
8 = Sounds/Run3.wav
9 = Sounds/Run4.wav
11 = Sounds/Run11.flac

[Master Controller]
Max = Sounds/mcfull.wav
Min = Sounds/mcoff.wav
Up =  Sounds/mcup.wav
Down = Sounds/mcdown.wav

[Flange]
0 = Sounds/Flange0.wav

[Others]
Noise = Sounds/loop.wav
;Shoe = Sounds/Rub.wav